<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NetAgent TaskLog Demo">


	<!--
	
	

	-->
	<test thread-count="5" name="VerifyNoRecords">
		<classes>
			<class name="na_TestScenarios.Scenario1"></class>
		</classes>
	</test>
	<test thread-count="5" name="GetTotalJobs">
		<classes>
			<class name="na_TestScenarios.Scenario2"></class>
		</classes>
	</test>

	<test thread-count="5" name="SearchByPickupID">
		<classes>
			<class name="na_TestScenarios.Scenario3"></class>
		</classes>
	</test>

	<test thread-count="5" name="SearchAndRejectJob">
		<classes>
			<class name="na_TestScenarios.Scenario4"></class>
		</classes>
	</test>


	<!-- -->

	<!--   -->
</suite> <!-- NASuite -->